@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 100%;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 100%;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 100%;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /* 10px divided 16px equals 62.5% */ }

body {
  box-sizing: border-box; }

body {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
  padding: 3rem;
  box-sizing: border-box; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 7.5rem;
    font-weight: 400;
    letter-spacing: 1.6rem;
    animation: moveInLeft 1s ease-in; }
  .heading-primary--sub {
    display: block;
    font-size: 1.85rem;
    font-weight: 400;
    letter-spacing: 0.8rem;
    animation: moveInRight 1s ease-in; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #c4ddff, #001d6e);
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all 0.2s; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.8); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-top-small {
  margin-top: 2rem; }

.u-margin-top-medium {
  margin-top: 4rem; }

.u-margin-top-big {
  margin-top: 8rem; }

.u-margin-top-huge {
  margin-top: 10rem; }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 1.5rem 4rem;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.1) scaleY(1.4);
    opacity: 0; }

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn::after {
  content: "";
  height: 100%;
  width: 100%;
  display: inline-block;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--blue {
  background-color: #7fb5ff;
  color: #fff; }
  .btn--blue::after {
    background-color: #7fb5ff; }

.btn--animated {
  animation: moveInBottom 0.5s ease-in-out 0.3s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #7fb5ff;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1px solid #7fb5ff;
  padding: 3px;
  transition: all 0.2s; }

.btn-text:hover {
  background-color: #7fb5ff;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.2;
  overflow: hidden; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-family: inherit;
  color: inherit;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  transition: all 0.3s; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    border-bottom: 3px solid #7fb5ff; }
  .form__input:focus:invalid {
    border-bottom: 3px solid #f52100; }
  .form__input::-webkit-input-placeholder {
    color: #999; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form__radio-group {
  width: 49%;
  display: inline-block; }

.form__radio-input {
  display: none; }

.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 5rem; }

.form__radio-button {
  height: 3rem;
  width: 3rem;
  border: 5px solid #7fb5ff;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -0.4rem; }
  .form__radio-button::after {
    content: "";
    display: block;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #7fb5ff;
    opacity: 0;
    transition: opacity 0.2s; }

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1; }

.card {
  height: 52rem;
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative; }
  .card__side {
    height: 52rem;
    font-size: 2rem;
    background-color: orangered;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    transition: transform 0.8s ease;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #f52100, #b51800); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #c4ddff, #001d6e); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #41e817, #1a5c09); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0deg); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%); }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #f52100, #b51800), url(../img/jet-1.jpg); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #c4ddff, #001d6e), url(../img/space-2.jpg); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #41e817, #1a5c09), url(../img/computer-1.jpg); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(245, 33, 0, 0.85), rgba(181, 24, 0, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(196, 221, 255, 0.85), rgba(0, 29, 110, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(65, 232, 23, 0.85), rgba(26, 92, 9, 0.85)); }
  .card__details {
    padding: 2rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.7rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #777; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 90%;
    text-align: center; }
  .card__price-box {
    color: #fff;
    margin-bottom: 0.8rem; }
  .card__price-only {
    font-size: 1.8rem;
    text-transform: uppercase; }
  .card__price-value {
    margin-top: -1.5rem;
    font-size: 6rem;
    font-weight: 100; }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    position: absolute;
    z-index: 10;
    transition: all 0.2s;
    outline-offset: 2rem; }
    .composition__photo--p1 {
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      right: 0;
      top: 2rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
    .composition__photo:hover {
      outline: 1.5rem solid #7fb5ff;
      transform: scale(1.05) translateY(0.5rem);
      box-shadow: 0 0.25rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 2.5rem;
  font-size: 1.5rem;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  transition: transform 0.3s; }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: 0.5rem;
    background-image: linear-gradient(to right, #c4ddff, #001d6e);
    display: inline-block;
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.story {
  width: 75%;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  transform: skewX(-12deg); }
  .story__shape {
    height: 15rem;
    width: 15rem;
    float: left;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative; }
  .story__img {
    height: 100%;
    transition: all 0.5s ease;
    transform: translateX(-0.5rem); }
  .story__text {
    transform: skewX(12deg); }
  .story__caption {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 2rem;
    font-weight: 700;
    transition: all 0.5s ease;
    opacity: 0; }
  .story:hover .story__caption {
    transform: translate(-50%, -50%);
    opacity: 1; }
  .story:hover .story__img {
    filter: brightness(50%) grayscale(20%); }

.footer {
  background-color: #d2d2d2;
  padding: 10rem;
  font-size: 1.4rem;
  color: #333; }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 8rem; }
  .footer__logo {
    width: 25rem;
    height: auto; }
  .footer__navigation {
    border-top: 2px solid #333;
    padding-top: 2rem;
    display: inline-block; }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    color: #333;
    background-color: #d2d2d2;
    text-decoration: none;
    display: inline-block; }
  .footer__link:hover, .footer__link:active {
    color: #7fb5ff;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transform: rotate(2deg) scale(1.3); }
  .footer__copyright {
    border-top: 2px solid #333;
    padding-top: 2rem;
    float: right; }

.row {
  width: 114rem;
  margin: 0 auto;
  content: "";
  display: table;
  clear: both; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc( (2 * (100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc( (2 * (100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( (3 * (100% - 3 * 6rem) / 4) + 2 * 6rem); }

.header {
  height: 95vh;
  background-image: linear-gradient(to left top, rgba(0, 29, 110, 0.8), rgba(196, 221, 255, 0.8));
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
  position: relative; }
  .header__logo-box {
    position: absolute;
    top: 3rem;
    left: 3rem; }
  .header__logo {
    height: 10rem; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -25vh; }

.section-features {
  background-color: #7fb5ff;
  padding: 20rem 0;
  margin-top: -10rem;
  transform: skewY(-7deg); }
  .section-features > * {
    transform: skewY(7deg); }

.section-tours {
  background-color: #f7f7f7;
  padding: 25rem 0 10rem 0;
  margin-top: -15rem; }

.section-stories {
  position: relative;
  padding: 15rem 0;
  margin-top: -10rem; }

.section-book {
  padding: 15rem 0 10rem 0;
  margin-top: -10rem;
  background: linear-gradient(to right bottom, #001d6e, #c4ddff); }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url(../img/cables-1.jpg);
  height: 50rem;
  background-size: cover;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  border-radius: 3px; }
  .book__form {
    width: 50%;
    padding: 6rem; }
