/* 
COLORS: 
Light blue #C4DDFF
Medium blue #7FB5FF
Dark blue #001D6E*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 30px;
}

.header {
  height: 95vh;
  background-image: linear-gradient(to left top, #001d6e, #7fb5ff);
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
  position: relative;
}

.logo-box {
  position: absolute;
  top: 15px;
  left: 15px;
}

.text-bold {
  color: aliceblue;
}

.logo {
  height: 140px;
}

.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 60px;
}

.heading-primary-main {
  display: block;
  font-size: 75px;
  font-weight: 400;
  letter-spacing: 16px;

  animation: moveInLeft 1s ease-in;
}
.heading-primary-sub {
  display: block;
  font-size: 18.5px;
  font-weight: 400;
  letter-spacing: 8px;

  animation: moveInRight 1s ease-in;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 100%;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 100%;
    transform: translate(0);
  }
}

.btn:link,
.btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 15px 40px;
  border-radius: 100px;
  transition: all 0.2s;
}

.btn-white {
  background-color: #fff;
  color: #777;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
