$color-primary: #7fb5ff;
$color-primary-dark: #001d6e;
$color-primary-light: #c4ddff;

$color-secondary: #db1d00;
$color-secondary-light: #f52100;
$color-secondary-dark: #b51800;

$color-tertiary: #3bdb15;
$color-tertiary-light: #41e817;
$color-tertiary-dark: #1a5c09;

$color-grey-light-1: #f7f7f7;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
