.popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba($color-black, 0.8);
  z-index: 3000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;

  &__container {
    @include absCenter;

    width: 75%;
    background-color: rgba($color-white, 0.8);
    border-radius: 3px;
    box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
    display: table;
    overflow: hidden;

    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
    transition: all 0.3s 0.2s;
  }

  &__left {
    width: 33.33333333%;
    display: table-cell;
  }

  &__right {
    width: 66.6666667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;
  }

  &__img {
    width: 100%;
    display: block;
  }

  &__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;

    -moz-column-count: 2;
    -moz-column-gap: 4rem;
    -moz-column-rule: 1px solid $color-black;

    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid $color-black;

    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  &__close {
    &:link,
    &:visited {
      color: $color-grey-dark;
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      font-size: 3rem;
      text-decoration: none;
      display: inline-block;
      transition: all 0.2s;
      line-height: 1;
    }

    &:hover {
      color: $color-primary;
    }
  }

  &:target {
    opacity: 1;
    visibility: visible;
  }

  &:target &__container {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
