.card {
  // FUNCTIONALITY
  height: 50rem;
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;

  &__side {
    color: #fff;
    height: 50rem;
    font-size: 2rem;
    background-color: orangered;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    transition: transform 0.8s ease;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);

    &--front {
      background-color: $color-white;
    }

    &--back {
      transform: rotateY(180deg);

      &-1 {
        background-image: linear-gradient(
          to right bottom,
          $color-primary-light,
          $color-primary-dark
        );
      }
    }
  }
  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0deg);
  }

  // FRONT SIDE STYLING
  &__picture {
    background-size: cover;
    height: 23rem;

    &--1 {
      background-image: url(../img/jet-1.jpg);
    }

    &--2 {
      background-image: url(../img/space-2.jpg);
    }
    &--3 {
      background-image: url(../img/computer-1.jpg);
    }
  }
}
