.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  margin-top: -25vh;
}
.section-features {
  background-color: $color-primary;
  padding: 20rem 0;
  margin-top: -10rem;
  transform: skewY(-7deg);

  & > * {
    transform: skewY(7deg);
  }
}
.section-tours {
  background-color: $color-grey-light-1;
  padding: 25rem 0 10rem 0;
  margin-top: -10rem;
}
